/*! 
Theme Name: K-trucks Company
Theme URI: http:///
Author: UIdesign Software Inc.
Author URI: http:///
Description: 
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: UIdesign Software Inc.
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

K-trucks Company Theme is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------*/

body {
		background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
		font-weight: 300;
    overflow-x: hidden;
}


/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.5px;
}

h1 {
    font-size: 55px;
    padding-bottom: 14px;
    margin-bottom: 0px;
}

h2 {
  font-size: 32px;
}

h2,h3 {
  padding-bottom: 6px;
}

h3 {
  font-size: 26px;
}

h4 {
  color: #666;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
}

p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.btn 
{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 16px;
    line-height: 1.5;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    padding: 10px 45px;
    transition: none;
    -webkit-box-shadow: 0 5px 0px #112431;
       -moz-box-shadow: 0 5px 0px #112431;
            box-shadow: 0 5px 0px #112431;
}


/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4d638c;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #4d638c;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition:all .4s ease-in-out;
     -moz-transition:all .4s ease-in-out;
          transition:all .4s ease-in-out;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#about, 
#gallery,
#contact,
#blog, 
#blog-single-post {
  padding-top: 60px;
  padding-bottom: 80px;
}

.main-about,
.main-single-post,
.main-gallery,
.main-contact {
  height: 65vh;
}

.overlay {
  background: rgba(0,0,0,0.7 );
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
  overflow: hidden;
}


/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-wordpress.sk-spinner {
  background-color: #bfba55;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite; 
}

.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; 
}

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }



/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.fixed-top 
{
  position: fixed!important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.bg-dark 
{
  background: #ffffff!important;
  margin: 0 !important;
  padding: 18px 0;
}
.navbar 
{
  /*padding: 20px 25px !important;*/
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 3px solid #f9f9f9;
 /* -moz-osx-box-shadow: 0px 0px 10px #F9F9F9;
   -webkit-box-shadow: 0px 0px 10px #F9F9F9;
      -moz-box-shadow: 0px 0px 10px #F9F9F9;
           box-shadow: 0px 0px 10px #F9F9F9;*/
}
.navbar-dark .navbar-brand 
{
  color: #555;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}
.navbar-brand 
{
  display: inline-block;
  /*padding-top: .3125rem;
  padding-bottom: .3125rem;*/
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

a.navbar-brand img
{
  width: 100%;
  height: 45px;
}
.navbar-dark .navbar-toggler 
{
  border: none;
  padding-top: 10px;
}
.navbar-toggler 
{
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: .25rem;
}
.navbar-dark .navbar-nav .nav-link 
{
  color: #777;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding-right: 22px;
  padding-left: 22px;
}
.navbar-dark .navbar-nav .nav-link:hover 
{
  color: #f7c200 !important;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus 
{
  color: #606066;
  background-color: transparent;
}
.navbar-dark .navbar-nav .active > .nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show > .nav-link 
{
  color: #f7c200;
}

/*--------------------------------------------------------------
# Header 
--------------------------------------------------------------*/
#mainsliders .item
{
  width: 100%;
  padding: 12em 0;
  background-repeat: no-repeat;
  background-size: cover!important;
  background-position: center center!important;
  text-shadow: 0px 0px 20px black!important;
  color: white!important;
}
#mainsliders .item_content
{
  width: 100%;
  /*padding: 12em 0 5em 0;*/
}

#mainsliders h3,
#mainsliders h3 small
{
  font-size: 40px;
  line-height: 1;
  letter-spacing: -2px;
  padding: 7px 0;
}
#mainsliders h3 small
{
  font-weight: 300!important;
  color: #f7c200!important;
}
#mainsliders p
{
  font-size: 25px;
  font-weight: 100;
  line-height: 1.15;
  color: white;
}
#mainsliders figure
{
  text-shadow: none!important;
  margin-top: 55px;
}
#mainsliders figure a.btn:first-child
{
  margin-right: 10px;
}


#mainsliders 
{
  position: relative;
}

#mainsliders .owl-dots 
{
  position: absolute;
  width: 10px;
  top: 45%;
  left: 50px;

}

#mainsliders .owl-dots .owl-dot 
{
  width: 10px;
  height: 10px;
  background: white;
  display: block;
  margin-bottom: 15px;
  position: relative;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

#mainsliders .owl-dots .owl-dot::after 
{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #f7c200!important;
  left: -10px;
  top: -10px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

#mainsliders .owl-dots .owl-dot.active 
{
  background: #f7c200;
  margin-bottom: 25px;
  margin-top: 25px;
}

#mainsliders .owl-dots .owl-dot.active:after 
{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

#mainsliders .owl-dots .owl-dot:first-child.active 
{
  margin-top: 15px;
}

/*---------------------------------------
    Home section              
-----------------------------------------*/

#page_header 
{
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: center;
    margin-top: 3em;
    padding: 10em 0;
}

#page_header h1,
#page_header h1 small 
{
  color: white;
  text-shadow: 0px 0px 20px black!important;
}

#page_header h1 small 
{
  color: white;
  text-transform: none;
  font-size: 25.2px;
  font-weight: 300;
  display: block;
  text-shadow: 0px 0px 20px black!important;
}

.main_home {
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url('assets/img/chili.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed;*/
}

.main_about {
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url('assets/img/contact.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed;*/
}

.main_contact {
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url('assets/img/contact.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   /* background-attachment: fixed;*/
}
.main-products {
  background: url('assets/img/006.jpeg') no-repeat;
}


#page_header h4 {
  color: #bfba55;
}

#home .btn {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #444;
  font-family: 'Merriweather', serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 22px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
}

#home .btn:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
/*-------------------------------------------------------------------
#   Features Offered
--------------------------------------------------------------------*/
#offers
{
  position: relative;
  padding: 3em 0 7em 0;
  background: white;
  font-weight: 300;
  font-size: 25px;
  z-index: 3;/*important*/
   width:100%;
   text-rendering: optimizeLegibility !important;
   -webkit-font-smoothing: antialiased !important;
}

#offers .section-title,
#offers .section-title small
{
    color: #777;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
    text-align: center!important;
    padding: 50px 0 100px 0;

}

.offers_item  
{
    border: 1px solid transparent;
    padding: 40px 20px 20px 20px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}
.offers_item:hover  
{
    border: 1px solid rgba(33,37,41,0.1);
    box-shadow: 0 8px 15px -5px rgba(33,37,41,0.3);
}
.offers_item  
{
    margin:5px 0;
}
.offers_item i 
{
    font-weight:normal;
    font-size: 80px;
    color: #212529;
    margin-right: 24px;
    padding: 4px;
}
.offers_item h3 
{
    font-size: 24px;
    font-weight: 500;
    color: #212529;
}
.offers_item p
{
    color: #777;
    margin-right: 8px !important;
    font-weight: 300;
    font-size: 17px;
}
.offers_item p a
{
    color: #666!important;
    font-weight: 400;
}

/*-------------------------------------------------------------------
#   Services
--------------------------------------------------------------------*/
/* start homeworks */
#homeworks
  {
    background: #F9F9F9;
    color: #FFFFFF;
    min-height: 300px;
    padding: 8em 0;
  }
#homeworks .section-title
{
    color: #777;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
    text-align: center!important;
    padding: 50px 0 50px 0;

}

#homeworks .homeworks_thumb
  {
    overflow: hidden;
    position: relative;
    margin: 30px 0 0 0;
  }
#homeworks .homeworks_thumb img
  {
    width: 100%;
    height: 300PX;
  }
  h5 {
    margin: 0;
  }
#homeworks .homeworks_thumb .homeworks_overlay
  {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
#homeworks .homeworks_thumb:hover .homeworks_overlay
  {
    opacity: 0.8;
  }  
#homeworks .homeworks_description
  {
    background: #FFFFFF;
    padding: 10px;
  }
#homeworks .homeworks_description h5
  {
    color: #212529;
    padding: 10px;
    text-transform: capitalize!important;
    font-size: 17px;
  }
#homeworks p
  {
    font-weight: 400;
  }
/* end homeworks */

/* start social icon */
.social_icon
  {
    padding: 0;
  }
.social_icon li
  {
    display: inline-block;
    position: relative;
  }
ul 
  {
    margin-bottom: 0;
  }
.social_icon li a
  {
    background: #303030;
    border-radius: 50%;
    cursor: pointer;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
  }
.social_icon li a:hover
  {
    background: #f7c200;
    color: #212529;
  }
  footer .social_icon {
    margin-top: 10px;
  }

  #homelinks
  {
    padding: 4em 0 0 0;
  }

#home_works
{
  position: relative;
}

#home_works .owl-dots 
{
  position: absolute;
  width: 10px;
  top: 45%;
  left: 50px;

}

#home_works .owl-dots .owl-dot 
{
  width: 10px;
  height: 10px;
  background: #e0e0e0;
  display: block;
  margin-bottom: 15px;
  position: relative;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

#home_works .owl-dots .owl-dot::after 
{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #ccc!important;
  left: -10px;
  top: -10px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

#home_works .owl-dots .owl-dot.active 
{
  background: #ccc;
  margin-bottom: 25px;
  margin-top: 25px;
}

#home_works .owl-dots .owl-dot.active:after 
{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

#home_works .owl-dots .owl-dot:first-child.active 
{
  margin-top: 15px;
}
/*---------------------------------------
    Home About section              
-----------------------------------------*/
#home_about
{
  padding: 6em 0;
}

#home_about .btn
{
  margin: 1em 0 0 0;
}
#home_about img.rounded-circle 
{
    border-radius: 0% !important;
}
#home_about img
{
  width: 100%;
}

/*---------------------------------------
   About section              
-----------------------------------------*/

#about .col-md-6 {
  padding-top: 22px;
  padding-bottom: 32px;
}

#about .col-md-6 img {
  padding: 22px 0px 22px 22px;
}

#about .col-md-4 {
  padding-bottom: 32px;
}

#about .col-md-4 img {
  padding-top: 12px;
}



/*---------------------------------------
   Contact section              
-----------------------------------------*/
#contact 
{
  padding-top: 7em;
}

#contact form 
{
  padding-top: 32px;
}

#contact .form-control {
  border: 1px solid #f0f0f0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #e0e0e0;
}

#contact input {
  height: 50px;
}

#contact textarea {
  height: 180px;
}

#contact input[type="submit"],
#contact button {
  /*background:  #f7c200;
  border-radius: 100px;
  font-size: 16px;
  padding: 12px 25px;
  border: none;
  color: #ffffff;
  font-weight: bold;*/
  margin-top: 40px;
}

#contact input[type="submit"]:hover,
#contact button:hover {
  /*background: #333;*/
}
/*--------------------------------------------------------------
#  Kudos 
--------------------------------------------------------------*/
#kudos
{
  position: relative;
  padding: 3em 0 7em 0;
  background: #F9F9F9;
  font-weight: 300;
  font-size: 25px;
  z-index: 3;/*important*/
   width:100%;
   text-rendering: optimizeLegibility !important;
   -webkit-font-smoothing: antialiased !important;
}

#kudos .container-fluid
{
  padding:  0 6em;
}

#kudos .section-title,
#kudos .section-title small
{
    color: #777;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
    text-align: center!important;
    padding: 50px 0 50px 0;

}

.kudos_item  
{
    border: 1px solid transparent;
    padding: 40px 20px 20px 20px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}

.kudos_item  
{
    margin:5px 0;
}
.kudos_item i 
{
    font-weight:normal;
    font-size: 80px;
    color: #e0e0e0;
    margin-right: 24px;
    padding: 4px;
}
.kudos_item h3 
{
    font-size: 24px;
    font-weight: 500;
    color: #212529;
}
.kudos_item p
{
    color: #777;
    margin-right: 8px !important;
    font-weight: 300;
    font-size: 19px;
}
.kudos_item p small
{
    color: #666!important;
    padding-left: 5px;
    font-weight: 500;
    font-size: 19px;
}
#kudos 
{
  position: relative;
}

#kudos .owl-dots 
{
  position: absolute;
  width: 10px;
  top:20%;
  left: 50px;

}

#kudos .owl-dots .owl-dot 
{
  width: 10px;
  height: 10px;
  background: #e0e0e0;
  display: block;
  margin-bottom: 15px;
  position: relative;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

#kudos .owl-dots .owl-dot::after 
{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #ccc!important;
  left: -10px;
  top: -10px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

#kudos .owl-dots .owl-dot.active 
{
  background: #ccc;
  margin-bottom: 25px;
  margin-top: 25px;
}

#kudos .owl-dots .owl-dot.active:after 
{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

#kudos .owl-dots .owl-dot:first-child.active 
{
  margin-top: 15px;
}

/*-------------------------------------------------------------------
#   Home Request Quote 
--------------------------------------------------------------------*/
#home_quote
{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url('assets/img/contact.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   /* background-attachment: fixed;*/
    padding: 5em 0 3.5em 0;
    color: white!important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 1.2em;
    -webkit-text-shadow: 0px 0px 20px black;
       -moz-text-shadow: 0px 0px 20px black;
            text-shadow: 0px 0px 20px black;
}

#home_quote h3
{
   padding: 1em 0;
   color: #212529;
   text-shadow: none!important;
}

#home_quote p.lead.text-muted
{
   color: rgba(255,255,255,0.8)!important;
}

#home_quote form
{
   padding: 1.5em;
   background: white;
   color: white!important;
   border-top: 5px solid #f7c200;
   border-bottom: 5px solid #f7c200;
}

#home_quote .form-control {
  border: 1px solid #f0f0f0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #F9F9F9;
  color: white!important;
  border-radius: 0px;
}

#home_quote .form-control:hover {
  border-color: #c0c0c0!important;
}

#home_quote input {
  height: 45px;
  color: white!important;
}

#home_quote textarea {
  height: 100px;
  color: white!important;
}

#home_quote input[type="submit"],
#home_quote button {
  /*background: transparent;
  border: 2px solid rgba(255,255,255,0.77);
  border-radius: 100px;
  font-size: 14px;
  padding: 10px 25px;
  color: white!important;
  font-weight: bold;
  margin-top: 20px;*/
}

#home_quote input[type="submit"]:hover,
#home_quote button:hover {
  /*background: rgb(255,255,255);
  color: #212529!important;*/
}
#home_quote .container .row.align-items-center 
.col-lg-6 .p-5 form .form-group
input#name.form-control
{
  color: white!important;
}
/*-------------------------------------------------------------------
#    Quote CTA 
--------------------------------------------------------------------*/
#optin
{
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url('assets/img/slidun.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed;*/
    padding: 5em 0 3.5em 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 1.2em;
}
#optin h6 
{
    font-size: 40px;
    color: white;
    text-transform: capitalize;
    font-weight: 900;
    letter-spacing: 4px;
    text-shadow: 0px 0px 20px black!important;
}
#optin p
{
    margin-right: 8px !important;
    font-weight: 300;
    color: white;
    font-size: 22px;
    text-shadow: 0px 0px 20px black!important;
}
a.btn.btn-warning
{
    /*background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    color: white;*/
    margin-top: 2em;
}


/*---------------------------------------
   WorksSection             
-----------------------------------------*/
#work
  {
  background: #dddd;
  color: #FFFFFF;
  padding: 5em 0 7em 0;
}

#work .section-title
{
    color: #777;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
    text-align: center!important;
    padding: 50px 0 4em 0;
}

#work h3
  {
    font-weight: bold;
    letter-spacing: 1px !important;
    padding-bottom: 30px;
  }
#work p
  {
    font-weight: 400;
    margin: 0 0 40px 0;
  }
#work .col-md-4
  {
    padding: 2px;
  }
#work .work_thumb
  {
    overflow: hidden;
    position: relative;
  }
#work .work_thumb img
  {
    width: 100%;
    height: 300px;
  }
#work .work_thumb .work_overlay
    {
      background: #f7c200;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      -webkit-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
    }
#work .work_thumb .work_overlay .fa
  {
    background: #555;
    border-radius: 50%;
    color: #FFFFFF;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;

    /* http://www.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/ */
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
#work .work_thumb:hover .work_overlay
  {
    opacity: 0.8;
  }


/*---------------------------------------
   Faq section              
-----------------------------------------*/
#faq {
  /*background: #f0f0f0;*/
  background: white;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

#faq .panel-group {
  margin-top: 32px;
}

#faq .panel-group .panel {
  margin-bottom: 8px;
}

#faq .panel-default {
  border: none;
}

#faq .panel-default>.panel-heading {
  /*background: #e0e0e0;*/
  color: #212529!important;
  border: 1px solid #f0f0f0;
  border-left: 2px solid #f7c200;
}

#faq .panel-heading {
  border: none;
  padding-top: 8px;
  padding-bottom: 6px;
}

#faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top: none;
  padding-top: 22px;
  padding-left: 32px;
  padding-bottom: 22px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"] {
  font-size: 18px;
  font-weight: 800;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  color: #212529;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"]::after {
  content: "-";
  color: #f7c200;
  display: block;
  position: absolute;
  line-height: 1;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

#faq .panel-heading .panel-title a[data-toggle="collapse"].collapsed::after {
  content: "+";
  color: #f7c200;
}

#faq .panel-body {
  background: white;
  border: 1px solid #f0f0f0;
  /*border: 1px solid rgba(33,37,41,0.1);
  box-shadow: 0 8px 15px -5px rgba(33,37,41,0.3);*/
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
#faq .panel-body p{
  padding-right: 1em;
  font-size: 20px;
  font-weight: 100;
  color: #212529;
}
/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    background: #ffffff;
    color: #212529;
    padding: 80px 0px;
    position: relative;
    border-top: 1px solid #f2f2f2;
}

footer .col-md-4 .fa {
  color: #ffffff;
  padding-right: 8px;
}

footer hr {
  border-color: #f2f2f2;
  margin-top: 62px;
  margin-bottom: 42px;
}

footer .footer-copyright {
  padding-top: 12px;
}

ul .list-unstyled li a,
footer a 
{
    color: #777 !important;
    text-decoration: none;
    font-size: 15px;
}

ul .list-unstyled li a:hover,
footer a:hover
{
    color: #f7c200 !important;
}

/* Back top */
.go-top {
  background-color: #ffffff;
  box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
  transition : all 1s ease;
  bottom: 2em;
  right: 2em;
  color: #333;
  font-size: 24px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 100%;
}

.go-top:hover {
    background: #f7c200;
    color: #ffffff;
}



/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border: 2px solid #999;
    color: #999;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 22px 12px 10px 12px;
}

.social-icon li a:hover {
    border-color: #f7c200;    
    color: #f7c200;
    transform: scale(1.1);
}

.social-icon li a:hover .fa{   
    color: #f7c200;
}


/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

@media (max-width: 980px) {

  .main-about,
  .main-single-post,  
  .main-gallery,
  .main-contact {
    height: 35vh;
  }

}


@media (max-width: 768px) {

  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 26px;
  }

  #about .col-md-6 img {
    padding-left: 0px;
  }

  #blog-single-post .blog-single-post-image img {
    padding-bottom: 22px;
  }

  footer .col-md-4 {
    padding-top: 22px;
  }

}


@media (max-width: 650px) {

  h1 {
    font-size: 42px;
  }

  #about, #gallery,
  #contact,
  #blog, #blog-single-post {
    padding-top: 60px;
    padding-bottom: 60px;
  }

}

